.form-container{
    
    color: inherit !important;
    background-color: inherit !important;
    .form{
        border: 1px solid rgba(144, 137, 137, 0.185);
        width: 600px;
        max-width: 600px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
        border-radius: 10px;
      
        
        .form-control{
                margin:10px 0;
                border: none;
        
                
                box-shadow: none;
        }
        .btn{
            max-width: 150px;
            background-color: #FBBC04;
           color: white;
            font-weight: 500;
            border: none;
        }
    }

}

