.content{
    background-color: inherit;
    color: inherit;
    .btn{
        max-width: 150px;
        background-color: #FBBC04;
       color: white;
        font-weight: 500;
        border: none;
    }
}