.header{
   
    margin: 0 ;
    padding: 10px 20px;
    box-shadow: 0 0 4px 0 rgba(114,114,114,.4);
    
    h4{
        font-size: 1.5rem;
        color: #5F6368;
        margin-left: 10px;
    }
    .btn{
        padding: 0;
    }

    .search{
       min-width:350px
    }

    .left{
        color: #5F6368;
        span{
            margin: 5px 10px;
            cursor: pointer;
        }
       
    }
}