.app{
   height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.app-dark{
    color: white !important;
    h4,svg,.btn{
        color: white !important;
    }
    background-color: #181A1B !important;
    .form-control{
        background-color:#181A1B !important ;
        color: white !important;
    }

}